<!doctype html>
<html lang="en" class="root">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ asset( css_path ~ '/critical.css') }}">
        <link rel="stylesheet" href="{{ asset( css_path ~ '/theme.css') }}">

        <!-- favicons -->

        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset( favicon_path ~ '/apple-touch-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ asset( favicon_path ~ '/apple-touch-icon-60x60.png') }}">
        <link rel="icon" type="image/png" href="{{ asset( favicon_path ~ '/favicon-32x32.png') }}" sizes="32x32">
        <link rel="icon" type="image/png" href="{{ asset( favicon_path ~ '/favicon-16x16.png') }}" sizes="16x16">
        <link rel="manifest" href="{{ asset( favicon_path ~ '/manifest.json') }}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="theme-color" content="#ffffff">


        <title>

          {% block page_title %}

            {{ site_title }} | {{ site_headline }}

          {% endblock %} 

        </title>

        <!--[if lt IE 9]>
            <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body class="[ site ] {% if debug|default(false) %} debug {% endif %} {{ page_body_class|default('') }}" >

        <section class="[ site__outer ][ site-outer-section s_ ][ panel panel--tertiary ]">

          {% block site_outer_before %}{% endblock %}

        </section>


        <section class="site__inner">
        
          {% block page_header %}

          <!--[if lt IE 8]>
              <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
          <![endif]-->

           <!-- the header content -->


          {% endblock %}


          {% block page_body %}


            <!-- the body content -->


          {% endblock %}



          {% block page_footer %}

            <!-- the footer content -->

          {% endblock %}

        </section>


        <section class="[ site__outer ][ site-outer-section s_ ][ panel panel--tertiary ]">

          {% block site_outer_after %}{% endblock %}

        </section>


        <script>

          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');


          ga('create', '{{ site_config['analytics_id'] }}');
          ga('require', 'displayfeatures');  
          ga('send', 'pageview');    

          {% block analytics_code %}

            /* add custom analytics code here */

          {% endblock %}           


        </script>

        <!--[if lt IE 9]>
            <script type="text/javascript" src="https://code.jquery.com/jquery-1.9.0.min.js"></script>
        <![endif]-->

        <!--[if gt IE 8]>
            <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
        <![endif]-->

        <!--[if !IE]><!-->
            <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
        <!--<![endif]-->

        {% if callrail_required %}

        <script type="text/javascript" src="{{ site_config['callrail_src'] }}"></script>

        {% endif %}

        <script src="{{ asset( js_path ~ '/main.js') }}"></script>

        <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        
    </body>
</html>